# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.marselovr-spr3.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\ProyectosGTI\Cuarto\Marselo-moon-v3\marselovr-spr3\.idea\.idea.marselovr-spr3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
